@import 'colors';
@import 'fontface';
@import 'mainMixins';
@import 'animations';
@import 'mediaQueries';
@import 'transform';

* {
  font-family: RalewayLight;
}

.component-title {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.blue-line {
  width: 150px;
  background: $blue;
  height: 2px;
  @include centerHorizontal(); 
}

.component-desc {
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
}

.section-margin-for-scroll {
  height: 82px;
  background-color: #fff;
}

/*     --- HEADER ---     */
header {
  
  nav {
    
    .container {
      
      .navbar-header {
        height: 80px;
        
        .navbar-brand {
          font-weight: bold;
          text-align: center;
          letter-spacing: 0.2em;

          img {
            margin-bottom: 3px;
          }
        }
      }
      .navbar-collapse {
        background-color: #fff;

        ul {

          li {

            a {
              transition-duration: .2s;
              text-transform: uppercase;
              font-weight: bold;
              padding-top: 30px;
              padding-bottom: 30px;

              &:hover {
                color: $blue;
              }
            }

            .active {
              color: $blue;
              border-bottom: 2px solid $blue;
            }
          }
        }
      }
    }
  }

  #main-screen {
    position: relative;
    padding-top: 80px;
    height: calc(100vh);
    max-height: 1200px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../images/layer.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    #welcome {
      @include center(); 
      @include translate(-50%, -80%); 
      
      .main-title {
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        font-size: 50px;
        margin-bottom: 20px;
      }

      a {
        @include link(#fff, #000, 16px, uppercase);
        padding: 10px 20px;
        @include border(b, 1px, #fff);
        @include centerHorizontal();
        @include media(mobile) {
          width: 140px;
        }
        transition: 0.3s;
        &:hover {
          background-color: #fff;
        }
      }
    }
  }
}

/*   ---OUR-SERVICES---   */

#our-services-component {
  
  #our-services-wrapper {

    #our-services-images {

      .our-service {
        text-align: center;
        
        &:hover {
          cursor: pointer;
        }

        img {
          height: 60px;
        }

        .title {
          margin-top: 30px;
          text-transform: uppercase;
          font-weight: bold;

          @include media(mobile) {
            margin-top: 15px;
            margin-bottom: 40px;
          }
        }

        .square {
          margin: 0 auto;
          margin-top: 15px;
          width: 60px;
          height: 60px;
          border-top: 3px solid $blue;
          border-bottom: 3px solid $blue;
          margin-bottom: -3px;

          @include media(mobile) {
            display: none;
          }
        }

        &:first-child {
          
          .square {
            border-left: 3px solid #fff !important;
          }
        }

        &:last-child {
          
          .square {
            border-right: 3px solid #fff !important;
          }
        }
      }
      
      .active {

        .square {
          border-left: 3px solid $blue;
          border-right: 3px solid $blue;
          border-bottom: 3px solid #fff;
        } 
      }
    }

    .border-bottom {
      border-bottom: 3px solid $blue;
      margin: 0 12.5%;
      z-index: -1;
    }

    #our-services-description {
      margin: 15px 12.5%;

      .desc {
        padding: 10px 15px;
        margin-bottom: 75px;
      }
    }
  }

  #fully-responsive {
    background-color: $greylight;
    width: 100%;
    padding-top: 75px;

    .container {
      max-width: 992px;

      img {
        float: right;
        margin-right: 50px;

        @include media(mobile) {
          width: 100%;
          float: none;
          display: block;
          margin: 0 auto;          
        }
      }

      h2 {
        font-size: 40px;
        margin-bottom: 40px;
      }

      p {
        font-size: 16px;
        margin-bottom: 35px;

        @include media(mobile) {
          margin-bottom: 25px;          
        }
      }

      a {
        @include link($blue, $blue, 16px, uppercase);
        @include border(b, 1px, $blue);
        text-align: center;
        font-weight: bold;
        padding: 10px 40px;
        transition: 0.3s;

        @include media(mobile) {
          @include centerHorizontal();
        }
        
        &:hover {
          background-color: #fff;
        }  
      }
    }
  }
}


/*   ---PORTFOLIO---   */

#portfolio-component {
  padding-bottom: 70px;

  .section-margin-for-scroll {
    background-color: $greylight;
  }
  
  .toolbar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    text-align: center;

    @include media(mobile) {
      position: static;
      transform: translateX(0);
    }

    .btn-choose-cat {
      display: inline-block;
      color: $black;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px;
      border: 1px solid transparent;
      margin: 0 5px;
      text-decoration: none;

      &:hover {
        border-color: $blue;
        transition: .1s;
        cursor: pointer;
      }

      @media screen and (max-width: 768px) { 
        text-align: center;
        display: block;  
      }
    }

    .active-btn {
      border-color: $blue;
    }
  }

  #portfolio {
    margin-top: 150px;
    margin-left: 0;
    margin-right: 0;
    
    .col-lg-2, .col-md-3, .col-sm-4, .col-xs-6 {
      padding-left: 0;
      padding-right: 0;
    }

    .ng-enter {
      transition: .8s linear all;
    }
     
    .ng-enter.ng-enter-active {
      animation-name: zoomInUp;
      animation-duration: .8s;
      animation-fill-mode: forwards;
    }
    
    @include media(mobile) {
      margin-top: 50px;
    }
    
    .tile {
      position: relative;
      
      &:hover {
        cursor: pointer;
      }  

      img {
        width: 100%;
        height: auto;
        vertical-align: middle;
      }

      .work-desc {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        background-color: rgba(127, 240, 255, .15);
        text-align: center;
        animation-fill-mode: forwards;
        animation-name: zoomOut;
        animation-duration: 0s;

        .wrapper {
          position: absolute;
          width: 100%;
          margin: 0;
          top: 47%;
          transform: translateY(-50%);
          color: #fff;

          .work-title {
            font-size: 1.7em;
            font-weight: bold;
            margin-bottom: 10px; 
          }

          .category {
            margin: 0;
            font-weight: bold;
          }
        }
      }

    }

    .mouse-over {
      .work-desc {
        animation-name: zoomIn;
        animation-duration: .4s;

        .work-title {
          animation-name: zoomIn;
          animation-duration: .5s;   
        }
      }
    }

    .mouse-out {
      .work-desc {
        animation-name: zoomOut;
        animation-duration: .4s;
      }
    }
  } 
}

/*   ---ACHIEVEMENTS---   */

#achievements-component {
  color: #fff;
  background-color: $black;
  padding-top: 100px;

  .achievement {
    text-align: center;
    
    @include media(mobile) {
      margin-top: 40px;
    }

    img {
      margin-bottom: 25px;
    }

    .number {
      font-size: 40px;
    }

    .title {
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}

/*   ---ABOUT US---   */

#about-us-component {

  .section-margin-for-scroll {
    background-color: $black;
  }

  .workers {
    margin-top: 60px;
    margin-bottom: 50px;

    .worker-card {

      @include media(mobile) {
        margin-bottom: 75px;
      }

      .content {
        
        .top {
          position: relative;
          
          img {
            width: 100%;
          }
          
          .main-data {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            background-color: rgba(0, 0, 0, .8);

            .worker-name {
              color: $blue;
              font-size: 19px;
              margin-bottom: 5px;
            }

            .worker-position {
              color: #fff;
            }
          }
        }

        .desc {
          background-color: $greylight;
          padding: 20px;
        }

        .icons {
          margin-top: 1px;
          
          div {
            text-align: center;
            padding: 10px 0;
            border-right: 1px solid #fff;
            font-size: 18px;
            background-color: $greylight;
            transition-duration: .3s;

            a {
              color: #333;
              display: block;
            }

            &:hover {
              cursor: pointer;
              a {
                color: #fff;
              }
            }
          }
          
          .facebook:hover {
            background-color: $facebook; 
          }
          .twitter:hover {
            background-color: $twitter; 
          }
          .google:hover {
            background-color: $google; 
          }
          .dribbble:hover {
            background-color: $dribbble; 
          }
        }
      }
    }
  }
}

/*   ---Our News---   */

#our-news-component {
  padding-bottom: 18px;

  .news-wrapper {
    max-width: 768px;
    margin: 0 auto;
    margin-top: 80px;

    article {
      min-height: 150px;

      .article-date {
        text-align: center;

        .number {
          color: $blue;
          font-size: 70px;
          font-weight: bold;
        }
      }

      .article-content {
        
        .short-desc {
          margin-top: 40px;
          padding-bottom: 60px;
          border-bottom: 1px solid $greyregular;
        }

        .read-more {
          color: $blue;
          right: 15px;
          font-weight: bold;
          position: absolute;
          @include translate(0, -200%);

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

/*   ---Contact Us---   */
#contact-us-component {
  color: #fff;
  background-color: $black;
  padding-bottom: 50px;

  .form-container {
    max-width: 768px;
    margin: 0 auto;

    .form-group {
      position: relative;
      margin-top: 75px;

      .border {
        position: absolute;
        width: 100%;
        height: 8px;
        bottom: 0;
      }

      .error-tooltip {
        color: #fff;
        position: absolute;
        display: none;
      }
    }

    .submit-wrapper {
      margin-top: 10px;      
    }

    input, textarea, button[type="submit"] {
      background-color: transparent;
      color: #fff;
      border: none;
    }

    input {
      padding: 20px 28px;
      outline: none;
      box-shadow: none;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    textarea {
      outline: none;
      box-shadow: none;
      width: 100%;
      padding: 7px 28px;
      resize: none;
      overflow: auto;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    button[type="submit"] {
      transition-duration: .3s;
      border: 1px solid $blue;
      border-radius: 0px;
      padding: 6px 32px;
      float: right;

      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
  }
  
  .ng-untouched + .border, .ng-valid + .border {
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
  }

  .ng-dirty.ng-invalid + .border, .ng-touched.ng-invalid + .border{
    border-bottom: 3px solid #f00;
    border-left: 3px solid #f00;
    border-right: 3px solid #f00;
  }

  .ng-dirty.ng-invalid + .border + .error-tooltip, .ng-touched.ng-invalid + .border + .error-tooltip {
    display: block;
  }

}

/*   ---FOOTER---   */

footer {

  #contacts {
    padding: 80px 0;
    background-color: $dark;
    
    .our-contacts {
      @include media(nomobile) {
        width: 30%;
      }
      position: relative;
      width: 100%;
      background-color: $darkblue;
      margin: 0 auto;
      padding: 10px 30px;
      
      p {
        color: #fff;
        margin-bottom: 15px;
      }
      
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -19px;
        border: 10px solid transparent;
        border-top: 10px solid $darkblue;
        @include centerHorizontal();
      }
    }
  }
  
  .footer-bottom {
    background-color: $black;
    color: #fff;
    padding: 45px 0;
    
    p {
      margin: 0;
      @include media(mobile) {
        @include translate(0,-50%);
      }
    }
    
    a {
      @include link($blue, $darkblue, 16px, capitalize);
    }
    
    .footer-content {
      position: relative;
      
      .totop {
        width: 30px;
        height: 30px;
        @include centerVertical();
        left: 35%;
        border-radius: 50%;
        cursor: pointer;
        @include border(b, 1px, #fff);
        
        .arrow {
          width: 10px;
          height: 10px;
          position: absolute;
          top: 60%;
          left: 50%;
          transform: translate(-50%,-50%) rotate(45deg);
          @include border(bt, 1px, #fff);
          @include border(bl, 1px, #fff);
        }
        
        &:hover {
          border-color: $blue;
        }
        
        &:hover .arrow{
          border-color: $blue;
        }
        
        @include media(mobile) {
          @include centerHorizontal();
          top: 100%;
        }
      }
    }

  }
}