@import 'colors';
@import 'fontface';
@import 'mainMixins';
@import 'mediaQueries';
@import 'transform';

* {
  font-family: RalewayLight;
}

.component-title {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.blue-line {
  width: 150px;
  background: $blue;
  height: 2px;
  @include centerHorizontal(); 
}

.component-desc {
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
}

/*     --- HEADER ---     */
header {
  
  nav {
    
    .container {
      
      .navbar-header {
        height: 80px;
        
        .navbar-brand {
          font-weight: bold;
          padding-top: 30px;
          padding-bottom: 30px;
        }
      }
      .navbar-collapse {
        background-color: #fff;

        ul {

          li {

            a {
              transition-duration: .2s;
              text-transform: uppercase;
              font-weight: bold;
              padding-top: 30px;
              padding-bottom: 30px;

              &:hover {
                color: $blue;
              }
            }

            .active {
              color: $blue;
              border-bottom: 2px solid $blue;
            }
          }
        }
      }
    }
  }

  #main-screen {
    position: relative;
    margin-top: 80px;
    height: calc(100vh - 80px);
    max-height: 1200px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../images/layer.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    #welcome {
      @include center(); 
      @include translate(-50%, -80%); 
      
      .main-title {
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        font-size: 50px;
        margin-bottom: 20px;
      }

      a {
        @include link(#fff, #000, 16px, uppercase);
        padding: 10px 20px;
        @include border(b, 1px, #fff);
        @include centerHorizontal();
        @include media(mobile) {
          width: 140px;
        }
        transition: 0.3s;
        &:hover {
          background-color: #fff;
        }
      }
    }
  }
}

/*   ---ABOUT US---   */

#about-us-component {
  .workers {
    margin-top: 60px;
    margin-bottom: 50px;

    .worker-card {

      .content {
        
        .top {
          position: relative;
          
          img {
            width: 100%;
          }
          
          .main-data {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            background-color: rgba(0, 0, 0, .8);

            .worker-name {
              color: $blue;
              font-size: 19px;
              margin-bottom: 5px;
            }

            .worker-position {
              color: #fff;
            }
          }
        }

        .desc {
          background-color: $greylight;
          padding: 20px;
        }

        .icons {
          margin-top: 1px;
          
          div {
            text-align: center;
            padding: 10px 0;
            border-right: 1px solid #fff;
            font-size: 18px;
            background-color: $greylight;
            transition-duration: .3s;

            a {
              color: #333;
              display: block;
            }

            &:hover {
              cursor: pointer;
              a {
                color: #fff;
              }
            }
          }
          
          .facebook:hover {
            background-color: $facebook; 
          }
          .twitter:hover {
            background-color: $twitter; 
          }
          .google:hover {
            background-color: $google; 
          }
          .dribbble:hover {
            background-color: $dribbble; 
          }
        }
      }
    }
  }
}

/*   ---Contact Us---   */
#contact-us-component {
  color: #fff;
  background-color: $black;
  padding-bottom: 50px;

  .form-container {
    max-width: 768px;
    margin: 0 auto;

    .form-group {
      position: relative;
      margin-top: 75px;

      .border {
        position: absolute;
        width: 100%;
        height: 8px;
        bottom: 0;
      }

      .error-tooltip {
        color: #fff;
        position: absolute;
        display: none;
      }
    }

    .submit-wrapper {
      margin-top: 10px;      
    }

    input, textarea, button[type="submit"] {
      background-color: transparent;
      color: #fff;
      border: none;
    }

    input {
      padding: 20px 28px;
      outline: none;
      box-shadow: none;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    textarea {
      outline: none;
      box-shadow: none;
      width: 100%;
      padding: 7px 28px;
      resize: none;
      overflow: auto;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    button[type="submit"] {
      transition-duration: .3s;
      border: 1px solid $blue;
      border-radius: 0px;
      padding: 6px 32px;
      margin-left: 100%;
      @include translate(-100%, 0);

      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
  }
  
  .ng-untouched + .border, .ng-valid + .border {
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
  }

  .ng-dirty.ng-invalid + .border, .ng-touched.ng-invalid + .border{
    border-bottom: 3px solid #f00;
    border-left: 3px solid #f00;
    border-right: 3px solid #f00;
  }

  .ng-dirty.ng-invalid + .border + .error-tooltip, .ng-touched.ng-invalid + .border + .error-tooltip {
    display: block;
  }

}
