@font-face {
  font-family: Oswald;
  src: url(../fonts/Oswald/Oswald-Medium.ttf); }
@font-face {
  font-family: Oswald-light;
  src: url(../fonts/Oswald/Oswald-Light.ttf); }
@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-20px, 0, 0); }
  20%, 40%, 60%, 80% {
    transform: translate3d(20px, 0, 0); } }
@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@keyframes zoomOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
.shake {
  animation-name: shake;
  animation-duration: 8s; }

body {
  margin: 0;
  font-family: Oswald; }

section {
  position: relative;
  background-size: cover;
  background-position: center;
  padding-bottom: 50px; }
  section .sub-title {
    text-transform: uppercase;
    font-weight: normal;
    color: #707070;
    margin-top: 50px;
    text-align: center; }
  section .title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    text-align: center; }
  section .line {
    display: inline-block;
    width: 170px;
    background: #FFCF03;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
  section .section-desc {
    font-family: Oswald-light;
    font-size: 16px;
    width: 80%;
    margin: 0 auto;
    color: #707070;
    text-align: center;
    padding-top: 20px; }

#section-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/img-3.jpg); }

.navbar {
  width: 100%;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  text-transform: uppercase;
  font-family: Oswald;
  z-index: 1000; }
  @media screen and (max-width: 768px) {
    .navbar {
      height: auto; } }
  @media screen and (max-width: 768px) {
    .navbar .container {
      width: 100%; } }

.fixed {
  position: fixed; }

.nav-item {
  display: inline-block; }
  .nav-item:hover {
    cursor: pointer; }
  .nav-item:first-child a:before {
    content: ""; }
  @media screen and (max-width: 768px) {
    .nav-item:first-child a {
      margin-top: 60px; } }
  @media screen and (max-width: 768px) {
    .nav-item {
      display: block;
      font-size: 1.1em;
      line-height: 2.5em;
      padding-left: 5%;
      transition: background-color .2s; }
      .nav-item:hover {
        background-color: rgba(255, 255, 255, 0.3); } }
  .nav-item a {
    color: #fff;
    text-decoration: none;
    transition: color .2s;
    display: block;
    font-size: 18px; }
    .nav-item a:hover {
      color: #ffe600; }
    .nav-item a:before {
      content: "\f0c8";
      margin: 0 15px;
      font-family: "FontAwesome";
      font-size: 5px;
      line-height: 3em;
      text-align: center;
      vertical-align: middle;
      color: #ffe600; }

.navbar-brand {
  float: left;
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold; }
  .navbar-brand img {
    height: 3em; }
    @media screen and (max-width: 400px) {
      .navbar-brand img {
        height: 2.6em; } }
  @media screen and (max-width: 768px) {
    .navbar-brand {
      font-size: 1.5em;
      text-align: center;
      margin: 0 30px; } }
  @media screen and (max-width: 450px) {
    .navbar-brand {
      font-size: 1.2em; } }

.navbar-nav {
  float: right; }
  @media screen and (max-width: 768px) {
    .navbar-nav {
      width: 100%;
      height: 0;
      margin: 0;
      overflow: hidden;
      transition: .5s; } }

.navbar-toggler {
  display: none;
  float: right;
  margin: 30px; }
  @media screen and (max-width: 768px) {
    .navbar-toggler {
      display: block; } }

#nav-icon {
  width: 60px;
  height: 45px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer; }
  #nav-icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out; }
    #nav-icon span:nth-child(1) {
      top: 0px; }
    #nav-icon span:nth-child(2) {
      top: 18px; }
    #nav-icon span:nth-child(3) {
      top: 36px; }

#nav-icon.open span:nth-child(1) {
  top: 18px;
  transform: rotate(135deg); }

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#nav-icon.open span:nth-child(3) {
  top: 18px;
  transform: rotate(-135deg); }

/*-----------Slider----------*/
#slider-component {
  padding-bottom: 0; }
  #slider-component .slider-wrapper {
    width: 100%;
    overflow-x: hidden; }
    #slider-component .slider-wrapper #slider {
      user-select: none;
      -webkit-user-select: none;
      overflow: hidden;
      width: 10000px; }
      #slider-component .slider-wrapper #slider:hover {
        cursor: pointer; }
      #slider-component .slider-wrapper #slider .slide {
        display: inline-block;
        position: relative;
        float: left;
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: center center; }
        #slider-component .slider-wrapper #slider .slide .slide-content {
          height: 40%;
          background-color: rgba(0, 0, 0, 0.3);
          position: absolute;
          top: 50%;
          width: 100%;
          transform: translateY(-50%); }
          #slider-component .slider-wrapper #slider .slide .slide-content p {
            color: #fff;
            text-align: center;
            margin: 20px auto 10px auto;
            text-transform: uppercase;
            width: 60%; }
            @media screen and (min-width: 1200px) {
              #slider-component .slider-wrapper #slider .slide .slide-content p {
                font-size: 65px; } }
            @media screen and (max-width: 1200px) {
              #slider-component .slider-wrapper #slider .slide .slide-content p {
                font-size: 60px; } }
            @media screen and (max-width: 992px) {
              #slider-component .slider-wrapper #slider .slide .slide-content p {
                font-size: 55px; } }
            @media screen and (max-width: 690px) {
              #slider-component .slider-wrapper #slider .slide .slide-content p {
                font-size: 47px;
                margin-top: 40px; } }
            @media screen and (max-width: 500px) {
              #slider-component .slider-wrapper #slider .slide .slide-content p {
                font-size: 40px;
                margin-top: 30px; } }
            @media screen and (max-width: 400px) {
              #slider-component .slider-wrapper #slider .slide .slide-content p {
                font-size: 30px;
                margin-top: 20px; } }
          #slider-component .slider-wrapper #slider .slide .slide-content .buy {
            color: #000;
            background: #ffe600;
            margin: 10px;
            padding: 10px 35px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            text-align: center; }
            @media screen and (max-width: 400px) {
              #slider-component .slider-wrapper #slider .slide .slide-content .buy {
                padding: 7px 20px; } }
      #slider-component .slider-wrapper #slider #slide-1 {
        background-image: url(../img/bg.jpg); }
      #slider-component .slider-wrapper #slider #slide-2 {
        background-image: url(../img/bg2.jpeg); }
      #slider-component .slider-wrapper #slider #slide-3 {
        background-image: url(../img/bg3.jpg); }
  #slider-component #btn-prev {
    position: absolute;
    top: 50%;
    left: 10%; }
    #slider-component #btn-prev:hover {
      cursor: pointer; }
  #slider-component #btn-prev, #slider-component #btn-next {
    position: absolute;
    top: 50%;
    right: 10%; }
    #slider-component #btn-prev:hover, #slider-component #btn-next:hover {
      cursor: pointer; }
  #slider-component #finger {
    position: absolute;
    bottom: 0;
    right: 30px;
    user-select: none;
    -webkit-user-select: none; }
    @media screen and (max-width: 768px) {
      #slider-component #finger {
        width: 200px; } }

/*-----------Slider----------*/
/*----What-we-love-to-do-----*/
#what-we-love {
  position: relative; }
  #what-we-love .row {
    margin-top: 50px; }
    #what-we-love .row .service-item .circle {
      position: relative;
      width: 100px;
      height: 100px;
      background-color: #ffe600;
      border-radius: 50%;
      margin: 0 auto; }
      #what-we-love .row .service-item .circle img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%); }
    #what-we-love .row .service-item h3 {
      text-transform: uppercase;
      text-align: center; }
    #what-we-love .row .service-item p {
      font-family: Oswald-light;
      font-size: 16px;
      width: 80%;
      margin: 0 auto;
      color: #707070;
      text-align: center; }
    @media screen and (max-width: 768px) {
      #what-we-love .row .service-item {
        margin-bottom: 30px; } }

/*----What-we-love-to-do-----*/
/*------How-we-do-it------*/
#how-we-do-it {
  background-color: #131316;
  color: #fff; }
  #how-we-do-it .title {
    color: #ffe600;
    margin-top: 50px;
    margin-bottom: 0; }
  #how-we-do-it .section-desc {
    color: #fff; }
  #how-we-do-it .row {
    margin-top: 50px; }
    #how-we-do-it .row .service-item .circle {
      position: relative;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 0 auto; }
      #how-we-do-it .row .service-item .circle img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%); }
    #how-we-do-it .row .service-item h3 {
      text-transform: uppercase;
      text-align: center; }
    #how-we-do-it .row .service-item p {
      font-family: Oswald-light;
      font-size: 16px;
      width: 80%;
      margin: 0 auto;
      color: #fff;
      text-align: center; }
    @media screen and (max-width: 768px) {
      #how-we-do-it .row .service-item {
        margin-bottom: 30px; } }

/*------How-we-do-it------*/
/*-------Portfolio--------*/
#portfolio-filter-component .toolbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px; }
  #portfolio-filter-component .toolbar .btn-choose-cat {
    color: #707070;
    text-transform: uppercase; }
    #portfolio-filter-component .toolbar .btn-choose-cat:hover {
      color: #ffe600;
      transition: .1s;
      cursor: pointer; }
    @media screen and (max-width: 768px) {
      #portfolio-filter-component .toolbar .btn-choose-cat {
        text-align: center;
        display: block; } }
  #portfolio-filter-component .toolbar:first-child:before {
    content: ""; }
  #portfolio-filter-component .toolbar .active-btn {
    color: #ffe600; }
@media screen and (min-width: 768px) {
  #portfolio-filter-component .toolbar > .btn-choose-cat ~ .btn-choose-cat:before {
    content: "\f0c8";
    margin: 0 15px;
    font-family: "FontAwesome";
    font-size: 5px;
    line-height: 3em;
    text-align: center;
    vertical-align: middle;
    color: #ffe600; } }
#portfolio-filter-component #portfolio {
  margin-top: 130px; }
  @media screen and (max-width: 768px) {
    #portfolio-filter-component #portfolio {
      margin-top: 220px; } }
  #portfolio-filter-component #portfolio .tile {
    transition: transform 1s;
    position: relative; }
    #portfolio-filter-component #portfolio .tile img {
      width: 100%;
      height: auto;
      vertical-align: middle; }
    #portfolio-filter-component #portfolio .tile .work-desc {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-transform: uppercase;
      background-color: rgba(255, 230, 0, 0.55);
      text-align: center;
      animation-fill-mode: forwards;
      animation-name: zoomOut;
      animation-duration: 0s; }
      #portfolio-filter-component #portfolio .tile .work-desc .wrapper {
        position: absolute;
        width: 100%;
        margin: 0;
        top: 47%;
        transform: translateY(-50%);
        color: #fff; }
        #portfolio-filter-component #portfolio .tile .work-desc .wrapper .work-title {
          font-size: 1.4em;
          margin: 0; }
        #portfolio-filter-component #portfolio .tile .work-desc .wrapper .category {
          margin: 0;
          font-family: Oswald-light; }
  #portfolio-filter-component #portfolio .zoomInUp {
    animation-name: zoomInUp;
    animation-duration: .8s;
    /*animation-fill-mode: forwards;*/ }
  #portfolio-filter-component #portfolio .zoomOut {
    animation-name: zoomOut;
    animation-duration: .8s;
    animation-fill-mode: forwards; }
  #portfolio-filter-component #portfolio .mouse-over .work-desc {
    animation-name: zoomIn;
    animation-duration: .4s; }
    #portfolio-filter-component #portfolio .mouse-over .work-desc .work-title {
      animation-name: zoomIn;
      animation-duration: .5s; }
  #portfolio-filter-component #portfolio .mouse-out .work-desc {
    animation-name: zoomOut;
    animation-duration: .4s; }

/*-------Portfolio--------*/

/*# sourceMappingURL=style.css.map */
