@font-face {
  font-family: Oswald;
  src: url(../fonts/Oswald/Oswald-Medium.ttf);
}

@font-face {
  font-family: Oswald-light;
  src: url(../fonts/Oswald/Oswald-Light.ttf);
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-20px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(20px, 0, 0);
  }
}

@keyframes zoomInUp {
    from {
      opacity: 0;
      transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
      animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
      opacity: 1;
      transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
  }

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}


@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.shake {
  animation-name: shake;
  animation-duration: 8s;
}

$yellow: #ffe600;
$toggle-color: #fff;
$grey: #707070;
$dark: #131316;


body {
  margin: 0;
  font-family: Oswald;
}

section {
  position: relative;
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;

  .sub-title {
    text-transform: uppercase;
    font-weight: normal;
    color: $grey;
    margin-top: 50px;
    text-align: center;
  }

  .title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
  }

  .line {
    display: inline-block;
    width: 170px;
    background: #FFCF03;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .section-desc {
    font-family: Oswald-light;
    font-size: 16px;
    width: 80%;
    margin: 0 auto;
    color: $grey;
    text-align: center;
    padding-top: 20px;
  }
}

#section-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/img-3.jpg);
}

.navbar {
  width: 100%;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  text-transform: uppercase;
  font-family: Oswald;
  z-index: 1000;

  @media screen and (max-width: 768px) { 
    height: auto;
  }

  .container {
  
    @media screen and (max-width: 768px) { 
      width: 100%;
    }  
  }

}

.fixed {
  position: fixed;
}

.nav-item {
  
  display: inline-block;
  
  &:hover {
    cursor: pointer;
  }

  &:first-child {
    
    a {
      
      &:before{
        content: "";
      }
      
      @media screen and (max-width: 768px) {      
        margin-top: 60px;
      }
    }
  }

  @media screen and (max-width: 768px) { 
    display: block;
    font-size: 1.1em;
    line-height: 2.5em;
    padding-left: 5%;
    transition: background-color .2s;

    &:hover {
      background-color: rgba(255,255,255,.3);
    }
  }

  a {
    color: #fff;
    text-decoration: none;
    transition: color .2s;
    display: block;
    font-size: 18px;

    &:hover {
      color: $yellow;
    }
 
    &:before{
      content: "\f0c8";
      margin: 0 15px;
      font-family: "FontAwesome";
      font-size: 5px;
      line-height: 3em;
      text-align: center;
      vertical-align: middle;
      color: $yellow;
    }
  }
}

.navbar-brand {
  float: left;
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;

  img {
    height: 3em;
      
      @media screen and (max-width: 400px) { 
        height: 2.6em;
      }
  }

  @media screen and (max-width: 768px) { 
    font-size: 1.5em;
    text-align: center;
    margin: 0 30px;
  }

  @media screen and (max-width: 450px) {
    font-size: 1.2em;
  }

}

.navbar-nav {
  float: right;

  @media screen and (max-width: 768px) { 
    width: 100%;
    height: 0;
    margin: 0;
    overflow: hidden;
    transition: .5s;
  }
}

.navbar-toggler {
  display: none;
  float: right;
  margin: 30px;

  @media screen and (max-width: 768px) { 
    display: block;
  }
}


#nav-icon {
  width: 60px;
  height: 45px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: $toggle-color;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2) {
      top: 18px;
    }

    &:nth-child(3) {
      top: 36px;
    }
  }
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 18px;
  transform: rotate(-135deg);
}



/*-----------Slider----------*/

#slider-component {
  padding-bottom: 0;

  .slider-wrapper {
    width: 100%;
    overflow-x: hidden;

    #slider {
      user-select: none;
      -webkit-user-select: none;
      overflow: hidden;

      &:hover {
        cursor: pointer;
      }

      width: 10000px;

      .slide {
        display: inline-block;
        position: relative;
        float: left;
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: center center;

        .slide-content {
          height: 40%;
          background-color: rgba(0, 0, 0, 0.3);
          position: absolute;
          top: 50%;
          width: 100%;
          transform: translateY(-50%);

          p {
            color: #fff;
            text-align: center;
            margin: 20px auto 10px auto;
            text-transform: uppercase;
            width: 60%;
            
            @media screen and (min-width: 1200px) { 
              font-size: 65px;
            }

            @media screen and (max-width: 1200px) { 
              font-size: 60px;
            }

            @media screen and (max-width: 992px) { 
              font-size: 55px;
            }

            @media screen and (max-width: 690px) { 
              font-size: 47px;
              margin-top: 40px;
            }

            @media screen and (max-width: 500px) { 
              font-size: 40px;
              margin-top: 30px;
            }

            @media screen and (max-width: 400px) { 
              font-size: 30px;
              margin-top: 20px;
            }

          }

          .buy {
            color: #000;
            background: $yellow;
            margin: 10px;
            padding: 10px 35px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;

            @media screen and (max-width: 400px) { 
              padding: 7px 20px;
            }
          }

        }

      }

      #slide-1 {
        background-image: url(../img/bg.jpg);
      }

      #slide-2 {
        background-image: url(../img/bg2.jpeg);
      }

      #slide-3 {
        background-image: url(../img/bg3.jpg);
      }
    }
  }
  
  #btn-prev {
    position: absolute;
    top: 50%;
    left: 10%;

    &:hover {
      cursor: pointer;
    }
  }

  #btn-prev, #btn-next {
    position: absolute;
    top: 50%;
    right: 10%;

    &:hover {
      cursor: pointer;
    }
  }
  
  #finger {
    position: absolute;
    bottom: 0;
    right: 30px;
    user-select: none;
    -webkit-user-select: none;
    
    @media screen and (max-width: 768px) { 
      width: 200px;
    }

  }
}

/*-----------Slider----------*/

/*----What-we-love-to-do-----*/

#what-we-love {
  position: relative;

  .row {
    margin-top: 50px;

    .service-item {
      
      .circle {
        position: relative;
        width: 100px;
        height: 100px;
        background-color: $yellow;
        border-radius: 50%;
        margin: 0 auto;

        img {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translateX(-50%) translateY(-50%);
        }
      }

      h3 {
        text-transform: uppercase;
        text-align: center;
      }

      p {
        font-family: Oswald-light;
        font-size: 16px;
        width: 80%;
        margin: 0 auto;
        color: $grey;
        text-align: center;
      }

      @media screen and (max-width: 768px) { 
        margin-bottom: 30px;
      }
    }
  }
}
  

/*----What-we-love-to-do-----*/    

/*------How-we-do-it------*/    

#how-we-do-it {
  background-color: $dark;
  color: #fff;

  .title {
    color: $yellow;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .section-desc {
    color: $toggle-color;
  }

  .row {
    margin-top: 50px;

    .service-item {
      
      .circle {
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0 auto;

        img {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translateX(-50%) translateY(-50%);
        }
      }

      h3 {
        text-transform: uppercase;
        text-align: center;
      }

      p {
        font-family: Oswald-light;
        font-size: 16px;
        width: 80%;
        margin: 0 auto;
        color: $toggle-color;
        text-align: center;
      }

      @media screen and (max-width: 768px) { 
        margin-bottom: 30px;
      }
    }
  }
}
/*------How-we-do-it------*/    

/*-------Portfolio--------*/

#portfolio-filter-component {
  
  .toolbar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;

    .btn-choose-cat {
      color: $grey;
      text-transform: uppercase;

      &:hover {
        color: $yellow;
        transition: .1s;
        cursor: pointer;
      }

      @media screen and (max-width: 768px) { 
        text-align: center;
        display: block;  
      }

    }

    &:first-child {
    
        &:before {
          content: "";
        }  
    }

    .active-btn {
      color: $yellow;
    }
  }

  .toolbar > .btn-choose-cat ~ .btn-choose-cat  {
    
    &:before{

      @media screen and (min-width: 768px) { 
        content: "\f0c8";
        margin: 0 15px;
        font-family: "FontAwesome";
        font-size: 5px;
        line-height: 3em;
        text-align: center;
        vertical-align: middle;
        color: $yellow;
      }
    }
  }

  #portfolio {
    margin-top: 130px;

    @media screen and (max-width: 768px) { 
      margin-top: 220px;
    }
    
    .tile {
      transition: transform 1s;
      position: relative;

      img {
        width: 100%;
        height: auto;
        vertical-align: middle;
      }

      .work-desc {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        background-color: rgba(255, 230, 0, .55);
        text-align: center;
        animation-fill-mode: forwards;
        animation-name: zoomOut;
        animation-duration: 0s;

        .wrapper {
          position: absolute;
          width: 100%;
          margin: 0;
          top: 47%;
          transform: translateY(-50%);
          color: $toggle-color;

          .work-title {
            font-size: 1.4em;
            margin: 0; 
          }

          .category {
            margin: 0;
            font-family: Oswald-light;
          }
        }
      }

    }

    .zoomInUp {
      animation-name: zoomInUp;
      animation-duration: .8s;
      /*animation-fill-mode: forwards;*/
    }

    .zoomOut {
      animation-name: zoomOut;
      animation-duration: .8s;
      animation-fill-mode: forwards;
    }

    .mouse-over {
      .work-desc {
        animation-name: zoomIn;
        animation-duration: .4s;

        .work-title {
          animation-name: zoomIn;
          animation-duration: .5s;
          
        }
      }
    }

    .mouse-out {
      .work-desc {
        animation-name: zoomOut;
        animation-duration: .4s;
      }
    }
  }
}


/*-------Portfolio--------*/

