@font-face {
  font-family: "RalewayLight";
  src: url("../../fonts/Raleway/RalewayLight.ttf") format("truetype"); }
@font-face {
  font-family: "RalewayBold";
  src: url("../../fonts/Raleway/RalewayBold.ttf") format("truetype"); }
@font-face {
  font-family: "RalewayExtraBold";
  src: url("../../fonts/Raleway/RalewayExtraBold.ttf") format("truetype"); }
@font-face {
  font-family: "RalewayExtraLight";
  src: url("../../fonts/Raleway/RalewayExtraLight.ttf") format("truetype"); }
@font-face {
  font-family: "RalewayMedium";
  src: url("../../fonts/Raleway/RalewayMedium.ttf") format("truetype"); }
@font-face {
  font-family: "RalewayRegular";
  src: url("../../fonts/Raleway/RalewayRegular.ttf") format("truetype"); }
@font-face {
  font-family: "RalewayThin";
  src: url("../../fonts/Raleway/RalewayThin.ttf") format("truetype"); }
* {
  font-family: RalewayLight; }

.component-title {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center; }

.blue-line {
  width: 150px;
  background: #7FF0FF;
  height: 2px;
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

.component-desc {
  margin-top: 50px;
  text-align: center;
  font-size: 16px; }

/*     --- HEADER ---     */
header nav .container .navbar-header {
  height: 80px; }
  header nav .container .navbar-header .navbar-brand {
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px; }
header nav .container .navbar-collapse {
  background-color: #fff; }
  header nav .container .navbar-collapse ul li a {
    transition-duration: .2s;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px; }
    header nav .container .navbar-collapse ul li a:hover {
      color: #7FF0FF; }
  header nav .container .navbar-collapse ul li .active {
    color: #7FF0FF;
    border-bottom: 2px solid #7FF0FF; }
header #main-screen {
  position: relative;
  margin-top: 80px;
  height: calc(100vh - 80px);
  max-height: 1200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../images/layer.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; }
  header #main-screen #welcome {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -80%);
    -moz-transform: translate(-50%, -80%);
    -ms-transform: translate(-50%, -80%);
    transform: translate(-50%, -80%); }
    header #main-screen #welcome .main-title {
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      font-size: 50px;
      margin-bottom: 20px; }
    header #main-screen #welcome a {
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;
      cursor: pointer;
      text-decoration: none;
      padding: 10px 20px;
      border: 1px solid #fff;
      display: block;
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      transition: 0.3s; }
      header #main-screen #welcome a:hover {
        color: #000 !important; }
      @media only screen and (max-width: 768px) {
        header #main-screen #welcome a {
          width: 140px; } }
      header #main-screen #welcome a:hover {
        background-color: #fff; }

/*   ---ABOUT US---   */
#about-us-component .workers {
  margin-top: 60px;
  margin-bottom: 50px; }
  #about-us-component .workers .worker-card .content .top {
    position: relative; }
    #about-us-component .workers .worker-card .content .top img {
      width: 100%; }
    #about-us-component .workers .worker-card .content .top .main-data {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.8); }
      #about-us-component .workers .worker-card .content .top .main-data .worker-name {
        color: #7FF0FF;
        font-size: 19px;
        margin-bottom: 5px; }
      #about-us-component .workers .worker-card .content .top .main-data .worker-position {
        color: #fff; }
  #about-us-component .workers .worker-card .content .desc {
    background-color: #F7F7F7;
    padding: 20px; }
  #about-us-component .workers .worker-card .content .icons {
    margin-top: 1px; }
    #about-us-component .workers .worker-card .content .icons div {
      text-align: center;
      padding: 10px 0;
      border-right: 1px solid #fff;
      font-size: 18px;
      background-color: #F7F7F7;
      transition-duration: .3s; }
      #about-us-component .workers .worker-card .content .icons div a {
        color: #333;
        display: block; }
      #about-us-component .workers .worker-card .content .icons div:hover {
        cursor: pointer; }
        #about-us-component .workers .worker-card .content .icons div:hover a {
          color: #fff; }
    #about-us-component .workers .worker-card .content .icons .facebook:hover {
      background-color: #36609E; }
    #about-us-component .workers .worker-card .content .icons .twitter:hover {
      background-color: #2CA9E1; }
    #about-us-component .workers .worker-card .content .icons .google:hover {
      background-color: #DB5442; }
    #about-us-component .workers .worker-card .content .icons .dribbble:hover {
      background-color: #EE558E; }

/*# sourceMappingURL=style.css.map */
