<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="../../../Libraries/bootstrap-theme.css"/>
  <link rel="stylesheet" href="../../../Libraries/bootstrap.css"/>
  <script src="../../../Libraries/angular.js"></script>
  <script>

    var model = {
      sections: [{title: 'Section1', content: 'Lorem Ipsum adalah text contoh   digunakan didalam industri pencetakan dan typesetting. Lorem Ipsum telah menjadi text contoh semenjak tahun ke 1500an, apabila pencetak yang kurang terkenal mengambil sebuah galeri cetak dan merobakanya menjadi satu buku spesimen. Ia telah bertahan bukan hanya selama lima kurun, tetapi telah melonjak ke era typesetting elektronik, dengan tiada perubahan ketara. Ia telah dipopularkan pada tahun 1960an dengan penerbitan Letraset yang mebawa kangungan Lorem Ipsum, dan lebih terkini dengan sofwer pencetakan desktop seperti Aldus PageMaker yang telah menyertakan satu versi Lorem Ipsum.'},
                  {title: 'Section2', content: 'Adalah menjadi satu fakta bahawa pembaca akan terganggu oleh text yang boleh difahami apabila melihat susunan mukasurat. Kegunaan Lorem Ipsum adalah kerana ia mempunyai susunan ayat yang kelihatan normal, yang lebih menarik berbeza dengan "Contoh disini, contoh disini". Ia menyerupai text yang boleh dibaca dalam bahasa Inggeris. Banyak pakej pencetakan desktop dan editor web sekarang menggunakan Lorem Ipsum sebagai model text, dan satu search "Lorem Ipsum" dapat memperlihatkan sejumlah website yang masih dalam persiapan. Pelbagai versi telah timbul dalam tahun tahun yang lepas, kadangkala secara sepontan, dan kadangkala di sengajakan (seperti selitan lawak jenaka dan sebagainya).'},
                  {title: 'Section3', content: 'Berbeza dari pendapat umum yang popular, Lorem Ipsum bukan karya text secara rambang. Ia menpunyai asal usul dari secebis sastera klasik Latin dari kurun 45 TM (Tahum Masihi) , menjadikan ia karya berusia lebih 2000 tahun. Richard McClintock, seorang professor bahasa di Latin di Hampden-Sydney College in Virginia, USA, telah menyelidik salah satu ayat Latin yang kurang difahami, "consectetur" dan dalam menelitikan pengunaan perkataan ini dalam karya klasikal, telah menjumpai asal perkataan "consectetur" ini. Lorem Ipsum berasal dari seksyen 1.10.32 dan 1.10.33 karya "de Finibus Bonorum et Malorum" (Kebaikan dan Kejahan Yang Ekstrim) oleh Cicero, ditulis pada 45 SM. Buku ini ialah satu peniliitian tentang teori etika, dan amat popular pada zaman Renaissance. Ayat pertama Lorem Ipsum, "Lorem ipsum dolor sit amet..", datangnya dari ayat terkadung didalam seksyen 1.10.32.'},
                  {title: 'Section4', content: 'Ada banyak versi dari mukasurat-mukasurat Lorem Ipsum yang sedia ada, tetapi kebanyakkannya telah diubahsuai, lawak jenaka diselitkan, atau ayat ayat yang di sertakan secara rambang yang lansung tidak munasabah. Jika anda ingin menggunakan Lorem Ipsum, anda perlu memastikan bahwa tiada apa yang memalukan akan terselit didalam di tengah tengah kandungan text. Semua injin Lorem Ipsum didalam Internet hanya mengulangi text, sekaligus menjadikan injin kami sebagai yang terunggul dan tepat sekali di Internet. Ia menggunakan kamus yang mengandungi lebih 200 ayat Latin, bersama model dan struktur ayat Latin, untuk menghasilkan Lorem Ipsum yang munasabah. Hasil pengeluaran Lorem Ipsum kami adalah bebas dari ulangan ungkapan-ungkapan, lawak jenaka atau ayat ayat yang tidak bercirikan bahasa latin.'},
                  {title: 'Section5', content: 'Adalah menjadi satu fakta bahawa pembaca akan terganggu oleh text yang boleh difahami apabila melihat susunan mukasurat. Kegunaan Lorem Ipsum adalah kerana ia mempunyai susunan ayat yang kelihatan normal, yang lebih menarik berbeza dengan "Contoh disini, contoh disini". Ia menyerupai text yang boleh dibaca dalam bahasa Inggeris. Banyak pakej pencetakan desktop dan editor web sekarang menggunakan Lorem Ipsum sebagai model text, dan satu search "Lorem Ipsum" dapat memperlihatkan sejumlah website yang masih dalam persiapan. Pelbagai versi telah timbul dalam tahun tahun yang lepas, kadangkala secara sepontan, dan kadangkala di sengajakan (seperti selitan lawak jenaka dan sebagainya).'},
                ]
    };
    
    angular.module("myApp", [])
           .controller("mainController", mainController)           

    function mainController($scope, $anchorScroll, $location) {
      $scope.model = model;
      $location.path(''); 

      $scope.show = function (id) {
        $location.hash(id);
      }
    }

  </script>
  <style>
    .content {
      font-size: 27px;
      margin-bottom: 100px;
    }
  </style>
</head>
<body>
  <section class="container" ng-controller="mainController">
    <p class="titles btn btn-primary" ng-repeat="section in model.sections" ng-click="show('block' + ($index + 1))">
      {{section.title}}
    </p>
    <div ng-attr-id="{{'block' + ($index + 1)}}" class="content" ng-repeat="section in model.sections">
      <h2>{{section.title}}</h2>
      {{section.content}}
    </div>
  </section>
</body>
</html>